<footer id="footer">

    <div id="footer-container">
        <div id="footer-p"><p>©ErdemUgurlular</p></div>
        <div id="footer-link-container">
            <div id="footer-social-1"><a href=""><img class="social-logo insta" src="/images/insta-logo.jpg"></a></div>
            <div id="footer-social-2"><a href=""><img class="social-logo facebook" src="/images/facebook-logo.png"></a></div>
            <div id="footer-social-3"><a href=""><img class="social-logo youtube" src="/images/youtube-logo.png"></a></div>
        </div>    
    </div>

</footer>

</body>
</html>