<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrets</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

<header id="header">
    <div id="header-container">
        <div id="header-logo"><img id="logo" src="/images/skyrim-logo.jpg"></div>
        <div id="header-head"><p id="header-text">Skyrets</p></div>
        <div id="header-link-1"><a href="/" class="link">Main</a></div>
        <div id="header-link-2"><a href="/secrets" class="link">Secrets</a></div>
        <div id="header-link-3"><a href="/new-secret" class="link">New Secret</a></div>
    </div>    
</header>