<%- include("partials/header.ejs") %>

<main id="main">
    <div id="main-container"></div>
        <div id="main-head"><h1>Welcome to Skyrets</h1>
        <div id="main-p"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et rutrum turpis. Nunc tristique dui arcu, vel euismod justo ullamcorper vitae. Maecenas pellentesque, tellus sed lacinia cursus, leo metus gravida tellus, ac lacinia nisi dolor vitae nulla. Cras dapibus bibendum dui. Fusce nisl mi, finibus in sapien nec, luctus sagittis leo. Phasellus porta diam sed tortor mattis, a porta lacus tincidunt. Fusce sit amet dolor suscipit, vulputate lorem quis, pulvinar metus. Etiam convallis dui ac pharetra porta. vulputate lorem quis, pulvinar metus. Etiam convallis dui ac pharetra porta vulputate lorem quis, pulvinar metus.</p></div>
    </div>
</main>

<%- include("partials/footer.ejs") %>