<%- include("partials/header.ejs") %>

<main id="main">
    <div id="main-container"></div>
        <form action="/secrets-new" method="POST" id="form">
            <label for="secretAbout">What's your secret about?</label><br>
            <input type="text" id="secretAbout" name="secretAbout" minlength="3" maxlength="20"><br>
            <label for="secretInfo">What's your secret?</label><br>
            <textarea type="text" id="secretInfo" name="secretInfo" minlength="3" maxlength="50"></textarea><br>
            <input type="submit" value="Create" id="submit-btn">
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>