<%- include("partials/header.ejs") %>

<main id="main">
    <div id="main-container"></div>
        <form action="/secrets-adj-new" method="POST" id="form">
            <label for="adjSecretAbout">Change what your secret about.</label><br>
            <textarea type="text" id="secretAbout" name="adjSecretAbout" minlength="3" maxlength="20"><%= currentSecretsAbout %></textarea><br>
            <label for="adjSecretInfo">Change your secret.</label><br>
            <textarea type="text" id="secretInfo" name="adjSecretInfo" minlength="3" maxlength="50"><%= currentSecretsInfo %></textarea><br>
            <input type="submit" value="Create" id="submit-btn">
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>